<div id="wrapper">
    <header>
        <h1>Pink Panther Swag Chat</h1>
    </header>
    <div id="content">
        @*<div id="usersList">
            <p>Pesho</p>
            <p>Gosho</p>
            <p>Penka</p>
            <p>Ginka</p>
        </div>

        <div id="partnerName">Chatting with Pesho</div>
        <div id="chatWindow">
            <p class="sent">Zdrasti</p>
            <p class="recieved">Kvo stava</p>
            <p class="sent">Dobre e.</p>
            
            <div id="textForm">
                <input id="textInput" type="text" placeholder="type text here" />
                <input type="submit" id="sendButton", value="Send" />
            </div>
        </div>
        <div id="clearFix"></div>*@
     </div>
    
</div>
