body, p, a, div, li, ul {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 600px;
    margin: 0 auto;
    overflow: auto;
    background-color: #abdcd6;
}

#usersList {
    margin-right: 30px;
    clear: right;
}

#chatWindow {
    width: 400px;
}

#chatWindow, #usersList {
    float: left;
    border: 1px solid #494949;
    padding: 10px;

    min-height: 500px;
    height:auto;
}

#clearFix {
    clear:both;
}

.sent {
    background-color: #bacabe;
}

.recieved {
    background-color: #b6ff00;
}

#textForm {
    margin-top: 15px;
}

#msgContent {
    height: 500px;
    overflow:scroll;
}

#profilePanel {
    float: right;
}

